@import 'partials/general'

@import 'pieces/header'

#results
    margin-top: 40px
    .user
        background-color: yellow
        width: 48%
        height: 128px
        float: left
        margin-bottom: 20px
        margin-left: 1%
        margin-right: 1%

        .left-meta
            float: left
            margin-right: 1.2em

        .right-meta
            
            .name
                font-size: 1.6em
                padding: 0.8em
                background-color: lightblue

            .stats
                padding-top: 10px
                font-size: 1.2em