@import 'partials/general'

@import 'pieces/header'
@import 'pieces/results'

footer
    position: absolute
    left: 0
    bottom: 0
    height: 30px
    width: 100%
    background-color: #EEE
    font-weight: 400
    padding-top: 7px
    text-align: center
    letter-spacing: 1.5px

.red
    text-transform: uppercase